.container-not-found {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30vh 15px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

.video-espace {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.titre-not-found {
	font-size: 5vw;
	margin-bottom: 50px;
}

.message-not-found {
	font-size: 3vw;
	margin-bottom: 50px;
}

.boutton-not-found {
	font-size: 2vw;
	color: white;
	background-color: #007bff;
	border: none;
	padding: 12px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.boutton-not-found:hover {
	background-color: #0056b3;
}
